@media (max-width: 1000px) {
	.Slogan{
		width: 350%;
	}

	.Vetements{
		width: 350%;
	}
}


body{
	margin: 0;
	padding: 0;
	width: 100%;
}

header div#Menu nav ul{
	display: flex;
	justify-content: center;
	flex-direction: row;
	list-style-type: none;
}

header div#Menu nav ul li:hover{
	background-color: orange;
	transition: 0.3s all;
	border-top: 3px solid red;
}

header div#Menu nav ul li a{
	color: black;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

header div#Menu nav ul li{
	display: flex;
	text-align: center;
	padding: 15px;
	background-color: white;
}

.Panier{
	display: flex;
	justify-content: flex-end;
	margin-top: -5.5vh;
	margin-right: 6vh;
}


.Slogan{
	background-image: url("https://image.noelshack.com/fichiers/2020/48/3/1606329623-image00017.jpg");
	background-repeat: no-repeat;
	height: 600px;
	background-size: cover;
	margin-top: -50px;
	width: 250%;
}

.Slogan h1{
	font-size: 80px;
	padding-top: 250px;
	padding-left: 100px;
	font-family: 'Open Sans', sans-serif;
}

.Logo img{
	margin-left: 400px;
}

.Logo{
	border-top: 1px solid black;
	margin-top: 5px;
}

.Infos h3{
	margin-left: 385px;
	display: inline-block;
	font-family: 'Noto Sans JP', sans-serif;
}

.Infos {
	border-bottom: 1px solid black;
}

.Habits h1{
	margin-top: 80px;
	margin-left: 150px;
	border-bottom: 2px solid orange;
	width: 10%;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

#Rashguards{
	border: 2px solid red;
	width: 400px;
	margin-left: 130px;
	margin-top: 120px;
}

#Rashguards h3{
	border-top: 1px solid white;
	font-family: 'Roboto Slab', serif;
}

#Rashguards a{
	text-decoration: none;
	color: white;
}

#Rashguards h3.Prix{
	margin-left: 365px;
	margin-top: -45px;
}


.Masque{
	border: 2px solid green;
	width: 400px;
	margin-left: 1000px;
	margin-top: -371px;
}

.Masque h3{
	border-top: 1px solid white;
	font-family: 'Roboto Slab', serif;
}

.Masque a{
	text-decoration: none;
	color: white;
}

.Masque h3.Prix{
	margin-left: 365px;
	margin-top: -44px;
}


.Sweet{
	border: 2px solid orange;
	width: 400px;
	margin-left: 130px;
	margin-top: 200px;
}

.Sweet h3{
	border-top: 1px solid white;
	font-family: 'Roboto Slab', serif;
}

.Sweet a{
	text-decoration: none;
	color: white;
}

.Sweet h3.Prix{
	margin-left: 365px;
	margin-top: -45px;
}

.Bientot{
	border: 2px solid blue;
	width: 400px;
	margin-left: 1000px;
	margin-top: -371px;
}

.Bientot h3{
	border-top: 1px solid white;
	font-family: 'Roboto Slab', serif;
}

.Bientot a{
	text-decoration: none;
	color: white;
}

.Bientot h3.Prix{
	margin-left: 365px;
	margin-top: -45px;
}

.Vetements{
	background-image: url("https://image.noelshack.com/fichiers/2020/48/4/1606420125-bg-index.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 250%;
}

footer{
	display: flex;
	justify-content: center;
	border-top: 1px solid grey;
}